/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

/*  rajout d'une div body pour respecter la pixelisation de la maquette
    et respecter le fait de faire appelle a des class CSS */

.body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  gap: 30px;
}

/* ajout du gap dans le main brut */

main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  gap: 4px;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* intégration du header Desktop*/

.header {
  max-width: 1440px;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
}

.menu {
  display: flex;
  padding-left: 50px;
  margin-right: 50px;
  justify-content: flex-end;
}

.menu ul {
  margin: 0;
  gap: 68px;
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}

.menu a:hover {
  border-bottom: solid 2px #0065fc;
  padding-bottom: 10px;
  color: #0065fc;
}

/* Code pour la partie recherche du projet */

.headline h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.headline p {
  font-size: 16px;
  margin-top: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-group {
  display: flex;
  flex-direction: column;
  width: 1340px;
  gap: 35px;
}

.search-bar {
  display: flex;
  width: 377px;
  height: 49px;
}

.search-bar-form {
  display: flex;
}

.search-bar-input {
  padding: 10px;
  border: 1px solid #f0f0f0;
  flex-grow: 1;
}

.search-bar-input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.icon-search-bar {
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  padding: 0px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search-bar i {
  width: 14px;
  height: 18px;
  color: #000000;
}

.search-bar-button {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.search-bar-button-mobile {
  display: none;
}

/* Mise en place de partie filtre du projet */

.filter-bar {
  display: flex;
  height: 50px;
  width: auto;
  gap: 15px;
}

.filter-frame-mobile {
  display: flex;
  gap: 15px;
}

.filter {
  display: flex;
  gap: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  padding: 4px 19px 4px 19px;
  height: auto;
  align-items: center;
}

.filter-title {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
}

.filter-text {
  font-size: 17px;
  font-weight: bold;
}

.filter:hover {
  background-color: #deebff;
}

/* Mise en place de l'info-bar */

.info-bar {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.icon-container i {
  font-size: 10px;
  width: 4px;
  height: 10px;
}

/* Mise en place des cards hébergements */

.hebergements-frame {
  display: flex;
  gap: 30px;
}

.hebergements-cards img {
  height: 124px;
}

.hebergements-cards {
  width: 33%;
}

.hebergements-card-content {
  display: flex;
  flex-direction: column;
  height: 67%;
  padding: 0px 15px 0px 15px;
  gap: 8px;
}

.hebergements-card-content .hebergements-card-subtitle {
  margin: 0;
}

.hebergements-card-content .hebergements-card-title {
  margin-top: 5px;
  margin-bottom: 4px;
}

.hebergements-card-title {
  font-size: 16px;
}

.card-hebergement {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  gap: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-hebergement img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-shrink: 0;
}

.hebergements-card-content {
  flex-grow: 1;
}

.load_more {
  font-size: 18px;
  font-weight: 700;
}

/* Intégration de la zone activités */

.section-activites {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

.frame-section-activites {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card-section-activites img {
    object-fit: cover;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-section-activites {
    width: calc(25% - 26.25px);
  display: flex;
  flex-direction: column;
  height: 439px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}

.text-card-section-activites {
    display: flex;
  align-items: center; 
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
  height: 59px;
}

/* Intégration du footer */

.frame-footer {
  display: flex;
  background-color: #f2f2f2;
}

.lien-footer {
  padding: 20px;
  gap: 15px;
  width: 33%;
}

.lien-footer h3 {
  font-size: 18px;
  font-weight: 700;
}
.lien-footer a {
  font-size: 14px;
  font-weight: 400;
}
.lien-footer ul {
  list-style-type: none;
  padding: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    justify-content: center;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Mise en place de la version tablette pour la zone_activites */


  .card-section-activites {
    display: flex;
    flex-direction: column;
    width: calc(25% - 26.25px);
    height: 25%;
    box-shadow: 0px 3px 15px 0px #0000001A;
  }

  .card-section-activites img {
    height: 141px;
    object-fit: cover;
  }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
  /* Modification d'éléments "principaux" */

  body {
    display: flex;
    width: 100%;
  }

  .body {
    align-items: center;
  }

  .main-container {
    padding: 0;
  }

  /* Mise en place du header Version Mobile */

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 61.09px;
    height: 19px;
    gap: 0px;
    padding: 30px 0px 0px 0px;
  }

  .logo img {
    width: 61.09px;
    height: 19px;
  }

  .menu {
    display: flex;
    width: 100%;
  }

  .menu ul {
    display: flex;
    padding-left: 0;
    width: 100%;
    justify-content: space-between;
    gap: 0px;
  }

  .menu li {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    width: 50%;
  }

  .menu li:hover {
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
    color: #0065fc;
  }

  .menu a:hover {
    border-top: none;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: none;
  }
  /* Mise en place de la version mobile pour l'info-group */

  .info-group {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* modification de la search-bar-mobile */

  .search-bar-button {
    display: none;
  }

  .search-bar-input {
    border: 1px solid #f2f2f2;
  }

  .search-bar-button-mobile {
    display: flex;
    height: 49px;
    padding: 15px 15px 15px 15px;
    border: none;
    gap: 10px;
    border-radius: 15px;
    background-color: #0065fc;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .search-bar-button-mobile i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    color: #ffffff;
  }

  /* Modification filter-bar */

  .filter-bar {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .filter-frame-mobile {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .filter {
    display: flex;
    height: 30px;
    max-width: 172px;
    min-width: 90px;
    padding: 4px 10px 4px 10px;
  }

  .filter-text {
    font-size: 14px;
    font-weight: 700;
  }

  /* mise en place de la version mobile pour la partie hebergements-and-populaires */

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }

  .populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff !important;
  }

  .hebergements-frame {
    display: flex;
    flex-direction: column;
  }

  .hebergements-cards {
    width: 100%;
  }
  
  .card-hebergement img{
    object-fit: cover;
  }

  /* Mise en place de la version mobile pour la partie zone-activités */

  .frame-section-activites {
    display: flex;
    flex-direction: column;
  }

  .card-section-activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
  }

  .card-section-activites img {
    height: 141px;
    object-fit: cover;
  }

  /* Mise en place du footer pour la version mobile */

  .frame-footer {
    display: flex;
    flex-direction: column;
  }

  .lien-footer {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 10px;
  }
}
