/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* intégration du header Desktop*/

.header {
    width: 100%;
    height: 80px;
    display : flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
}

.menu {
    display: flex;
    padding-left: 50px;
    margin-right: 50px;
    justify-content: flex-end;
}

.menu ul{
    margin: 0;
    gap: 68px;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}


.menu a:hover {
    border-top: solid 2px #0065FC;
    padding-top: 10px;
    color: #0065FC;
}


/* Préparation d'une intégration pour la version mobile 

.nav_mobile:hover {
    border-bottom: solid 2px #0065FC;
    padding-bottom: 10px;
    color: #0065FC;
}

*/

/* Code pour la partie recherche du projet */

.info_group h1 {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.info_group p {
    font-size: 16px;
    margin-top: 0;
}

.info_group {
    display: flex;
    flex-direction: column;
}

.search_bar {
    display: flex;
}

.zone_recherche_input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    outline: none;
    border: 1px solid #f0f0f0;
}

.zone_recherche_input::placeholder {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.icon_zone_recherche {
    padding: 0 10px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.zone_recherche_button {
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}